.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}

#info {
  padding-top:40vh;
}

.App-link {
  color: #aee4e8;
}
.App-link:visited {
  color: #aee4e8;
}
.App-link:hover {
  color: #aee4e8;
}
.App-link:active {
  color: #aee4e8;
}


